@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&family=Indie+Flower&family=Montserrat:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Roboto:wght@400;700&family=Spectral:wght@400;700&display=swap');


/* GENERALI */
p,button{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin-top: 70px;
font-size: 7em;
margin-bottom: 50px;

}

p{
    color: gray;
}

h3{
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* NAV BAR*/
nav{
background-color: #ffc017;
display: flex;
width: 100%;
border-bottom: 1px solid;
height: 75PX;
position: fixed;
margin: 0 0 50px 0;
padding: 10px 0;
z-index: 1;
font-family: 'Spectral', serif;
}
nav ul{
    display: flex;
   justify-content: space-evenly;
margin-left: 50%;
  width: 30%;
  align-items: center;
}

li{
    list-style-type: none;
}
nav button{
    display: flex;
    align-items: center;
    height: 30px;
   
    background-color: #191919;
    color: white;
    border-radius: 20px;
}
nav img{
    margin-left: 90px ;
    align-self: center;
height: 25px;
}


/* HEADER */
.headerText{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    height: 100%;
    width: 100%;
    margin-left: 100px;
}

header{
    font-family: 'Spectral', serif;
height: 455px;
width: 100%;
    background-color: #ffc017;
    display: flex;
   justify-content: end;
 position: relative;
 top: 95px;
   border-bottom: 1px solid;

}

header button{
  width: 150px;
    background-color: #191919;
    color: white;
    border-radius: 20px;
    padding: 8px;

    flex-wrap: nowrap;
}
header p{
    font-size: 1.6em;
    margin-bottom: 50px;
    color: black;
}

.m{
 display: flex;
width: 1000px;
justify-content: end;
 align-items: end;


}


/* SECTION 1 */
.number1{
    display: flex;
    position: relative;
    top: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.stelle{
display: flex;
align-items: center;
} 
.sec{
    width: 30%;
    height: 200px;
    display: flex;
 
    align-items: center;

  
}

.sec img{
width: 20px;
border-radius: 5px;
}

.num {
  display: flex;
  height: 55%;
  width: 20%;
  flex-direction: row;
  justify-content: start;
  
     font-size: 1.5em;
    font-weight: bold ;
}
.num p{
    color: #E6E6E6 !important;
}
.text h3{
    display: flex;
    flex-direction: column;
 align-items:baseline ;
 height: 100%;
 margin-top: 15px;
 margin-bottom: 10px;
 text-align: start;
}
.p1{
    display: flex;
  align-items: center;

color: black;

}
.p1 p{
margin-left: 100px;
}

/* SECTION2 */

.sec1{

    display: flex;
    justify-content: space-around;
   margin: 10px;
   
}
.sec1 h3{
    margin-left: 22px;
}
.text1 img{
    width: 25px;
    border-radius: 50px;
}

.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.container p{
    font-size: 1.5em;
    margin: 20px;
}


.number2{
    display: flex;
    position: relative;
border-top: 1px solid;
    top: 300px;
}
.number2 p{
    font-size: 1em;
}
.footer{
    margin-top: 100px;
    display: flex;

  flex-direction: column;
   align-items: center;
   width: 40%;

}
.button{
    display: flex;
flex-wrap: wrap ;
width: 500px;
margin: 10px;
justify-content: center;
border-bottom: 1px solid gray;
padding-bottom: 40px;

}

.footer button{
  font-weight: bold;
  padding: 10px;
 color: gray;
 border-radius: 5px;
 border: 1px solid gray;
background-color: rgb(255, 255, 255);
margin: 5px;

}

.img img{
    width: 250px;

}



.footer{
    position: sticky;
    top: 100px;
height: 100%;
}




.text1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}
.text1 button{
    border-radius: 16px;
    background-color: lightgray;
    color: gray;
}

.p{
 display: flex;
 flex-wrap: wrap;
 width: 350px;
}
.p p{
    margin: 5px;
}

.star{
    display: flex;
    width: 100%;
    align-items: center;
}
.star img{
    width: 20px;
  
}

.icona{
display: flex;
justify-content: end;
position: absolute;
left: 500px;
}


.star p {
    display: flex;
    flex-wrap: nowrap;
}



/* .new{
    color: #1A8917;
}
  */


